<!DOCTYPE html>
<html lang="zh-hans">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Blogin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <style>
            .gray-a{
                text-decoration:none;
                color: rgba(0,0,0,.5);
            }
            .gray-a:hover{
                color: forestgreen;
                text-decoration: none;
            }
        </style>
    </head>
{% endblock %}
{% block content %}
{% endblock %}
</html>